mixin preview()

    .preview
        .preview__info 
            .preview__title Zack Snyder's Justice League
            .preview__description
                .preview__year 2021
                .preview__age 18+
                .preview__time 4h 2min
                .preview__rating 8.8
            .preview__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans
                            | to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
            .preview__buttons
                button.preview__buttons-watch Watch
                button.preview__buttons-more More information
        .preview__img
            picture
               source(type='image/webp' srcset='assets/images/banner.webp')
               img(src=require(`blocks/preview/img/banner.png`), alt="banner")
