.preview {
    display: flex;
    padding: 14px 0px 0px 84px;
    border-bottom: 2px #2f2e2e solid;

    &__info {
        max-width: 562px;
        width: 100%;
        padding: 122px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        box-shadow: 100px 0px 100px #000000;
        -webkit-appearance: none;
        -webkit-box-shadow: 100px 0px 100px #000000;
        -moz-box-shadow: 100px 0px 100px #000000;
    }
    &__title {
        font-family: "Marcellus", serif;
        font-size: 80px;
        line-height: 70px;
        margin: 0px 0px 32px 0px;
    }
    &__description {
        width: 100%;
        max-width: 307px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 800;
        font-size: 16px;
        line-height: 10px;
        margin: 0px 0px 25px 0px;
    }
    &__year {
    }
    &__age {
        font-size: 16px;
        line-height: 12px;
        width: 58px;
        height: 22px;
        display: flex;
        justify-content: center;
        padding: 5px 0px 0px 0px;
        position: relative;

        &::before {
            content: "";
            width: 60px;
            height: 24px;
            background-image: url(img/age.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__time {
    }
    &__rating {
        margin: 0px 0px 0px 25px;
        width: 51px;
        position: relative;
        &::after {
            content: "";
            background-image: url(img/rating.svg);
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
        }
    }
    &__text {
        margin: 0px 0px 35px 0px;
    }
    &__buttons {
        width: 100%;
        max-width: 366px;
        display: flex;
        justify-content: space-between;
        &-watch {
            cursor: pointer;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            width: 141px;
            height: 50px;
            background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
            border-radius: 100px;
            filter: drop-shadow(17px 17px 20px rgba(0, 0, 0, 0.3));
            padding: 0px 0px 0px 30px;
            position: relative;
            &::before {
                content: "";
                background-image: url(img/play.svg);
                position: absolute;
                width: auto;
                height: auto;
                height: 18px;
                width: 14px;
                left: 35px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover {
                box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
            }
        }
        &-more {
            cursor: pointer;
            width: 195px;
            height: 50px;
            background: #ffffff;
            border-radius: 100px;
            filter: drop-shadow(17px 17px 20px rgba(0, 0, 0, 0.3));
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            color: #323232;
        }
    }
    &__img {
        & img {
            width: 100%;
        }
    }
}

@media (max-width: 1340px) {
    .preview {
        padding-left: 0px;
        align-items: center;

        &__info {
            padding: 0px 0px 0px 0px;
        }
    }
}
@media (max-width: 1100px) {
    .preview {
        flex-direction: column-reverse;
        align-items: center;
        &__info {
            text-align: center;
            align-items: center;
            box-shadow: 0px -20px 20px 0px #000000;
            width: 100%;
            max-width: none;
            padding: 0px 0px 15px 0px;
            -webkit-appearance: none;
            -webkit-box-shadow: 0px -20px 20px 0px #000000;
            -moz-box-shadow: 0px -20px 20px 0px #000000;
        }
        &__rating {
            padding-right: 40px;
        }
        &__buttons {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-watch {
                margin: 0px 0px 10px 0px;
            }
        }
    }
}

