mixin footer({})
    footer.footer
        .footer__container
            .footer__logo
                img(src=require("blocks/footer/img/Logo-footer.svg"), alt="Logo-footer")
            .footer__links 
                .footer__links-column
                    a.footer__link(href="#") Voice over and Subtitle
                    a.footer__link(href="#") Media Center 
                    a.footer__link(href="#") Privacy
                    a.footer__link(href="#") Contact us
                .footer__links-column 
                    a.footer__link(href="#") Voice Description
                    a.footer__link(href="#") Investor Relations
                    a.footer__link(href="#") Legal Provisions
                .footer__links-column  
                    a.footer__link(href="#") Help Center
                    a.footer__link(href="#") Job Opportunities
                    a.footer__link(href="#") Cookies Preferences
                .footer__links-column  
                    a.footer__link(href="#") Gift Cards
                    a.footer__link(href="#") Terms of Use
                    a.footer__link(href="#") Corporate Informations

