include ../title/title

mixin genres({text})
    .genres
        +title({text: text}) 
        .genres__items
           - for (var i = 1; i < 9; i++)
            .genres__item 
                a(href="#")
                    picture
                        source(type='image/webp' srcset=`assets/images/${i}-genres.webp`)
                        img(src=require(`blocks/genres/img/${i}-genres.png`), alt="genres") 