include ../title/title

mixin actors({text, actors})

    .actors
        +title({text: text})
        .actors__items 
            each actor in actors
                .actors__item 
                    .actors__img 
                        a(href="#")
                            picture
                                source(type='image/webp' srcset=`assets/images/actor-${actor.number}.webp`)
                                img(src=require(`blocks/actors/img/actor-${actor.number}.png`), alt="actor")
                    .actors__name= actor.name
