mixin soon({})

    .soon       
        .soon__baner 
            picture
                source(type='image/webp' srcset='assets/images/baner-2.webp')
                img(src=require("blocks/soon/img/baner-2.png"), alt="baner-2")
        .soon__soon
            picture
                source(type='image/webp' srcset='assets/images/soon.webp')
                img(src=require("blocks/soon/img/soon.png"), alt="soon")