mixin soon({})

    .soon       
        .soon__baner 
            img(src=require("blocks/soon/img/baner-2.png"), alt="baner")
        .soon__soon
            img(src=require("blocks/soon/img/soon.png"), alt="soon")